@inherits LayoutComponentBase

<div class="px-5 vh-100 d-flex flex-column">

    <div class="bg-dark text-white text-center p-3">

        <NavLink class="text-decoration-nome" href="ServicosPorId">Serviços</NavLink>
        <NavLink class="text-decoration-nome" href="/">Clientes</NavLink>
        <NavLink class="text-decoration-nome" href="/">Agendamento</NavLink>
    </div>

    <div class="py-3 h-100">
        @Body
    </div>

    <div class="bg-dark text-white text-center">
        aqui fica o rodape

    </div>

</div>

@code{

}
