@inherits LayoutComponentBase

<div class="px-5 vh-100 d-flex flex-column">

    <div class="bg-dark text-white text-center p-3">

        <NavLink class="text-decoration-nome" href="ServicosPorId">Serviços</NavLink>
        <NavLink class="text-decoration-nome" href="/">Clientes</NavLink>
        <NavLink class="text-decoration-nome" href="/">Agendamento</NavLink>
    </div>


    <article class="content px-4 h-100">
        @Body
    </article>

    <div class="bg-dark text-white text-center p-3">
        aqui fica o rodape

    </div>

</div>
